APP_ENV=development
LOG_LEVEL=INFO

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=f1_strategy
POSTGRES_USER=f1_user
POSTGRES_PASSWORD=change_me

FASTF1_CACHE_DIR=data/raw/fastf1_cache
OPENF1_BASE_URL=https://api.openf1.org/v1
OPENWEATHERMAP_API_KEY=
